<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

	<!-- wp:group {"tagName":"section","className":"section-content","layout":{"type":"constrained"}} -->
	<section class="wp-block-group section-content">
		<!-- wp:uncommon-editorial/content-block {"theme":"theme-1"} /-->
		<!-- wp:uncommon-editorial/content-block {"theme":"theme-2"} /-->
		<!-- wp:uncommon-editorial/staff-list -->
		<!-- wp:uncommon-editorial/staff-member /-->
		<!-- /wp:uncommon-editorial/staff-list -->
	</section>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"testimonials"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
