.content-block {
  display: block;
  padding: 20px $content-block-desktop-padding !important;

  &__heading {
    width: auto;
  }

  &.theme-1 {
    .content-block__heading {
      text-align: left;
    }
  }
}
