@use 'variables' as *;

.section-testimonial {
  max-width: $max-component-width;
}

.testimonial {
  background-color: brand-color('white');
  padding: 0;
  width: unset;
  margin: 0;
  mask-image: none !important;

  blockquote {
    position: relative;

    &::before {
      content: '"';
      color: brand-color('primary');
      font-size: 70px;
      position: absolute;
      left: -40px;
      top: 20px;
      font-family: cursive;
    }
  }
}
