html {
  background-color: #ff9954;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #000000;
}

.wp-site-blocks .site-header-outer {
  position: relative;
  display: block;
  height: 800px;
  background-color: #ff9954;
  padding: 0;
}
.wp-site-blocks .site-header-inner {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 90px;
  max-width: 1140px;
  margin: auto;
}
.wp-site-blocks .site-header-graphic {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
  max-width: none;
}
.wp-site-blocks .site-header-graphic svg {
  width: 100%;
  height: auto;
}

blockquote {
  padding: 0;
  margin: 0;
  color: red;
}