@font-face {
  font-family: "PP Neue Montreal";
  src: url("PPNeueMontreal-Bold.woff2") format("woff2"), url("PPNeueMontreal-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal Book";
  src: url("PPNeueMontreal-Book.woff2") format("woff2"), url("PPNeueMontreal-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("PPNeueMontreal-Italic.woff2") format("woff2"), url("PPNeueMontreal-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("PPNeueMontreal-Medium.woff2") format("woff2"), url("PPNeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("PPNeueMontreal-Thin.woff2") format("woff2"), url("PPNeueMontreal-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("PPNeueMontreal-SemiBolditalic.woff2") format("woff2"), url("PPNeueMontreal-SemiBolditalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PP Neue Montreal";
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
}

h1,
h2 {
  font-size: 64px;
}

p,
ul,
ol,
li {
  font-size: 18px;
  line-height: 25px;
}

p,
ul,
ol,
li {
  color: #ffffff;
}

p {
  margin-top: 0;
}

b,
strong {
  font-weight: 800;
}

html {
  background-color: #ff9954;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #000000;
}

.wp-site-blocks .site-header-outer {
  position: relative;
  display: block;
  height: 800px;
  background-color: #ff9954;
  padding: 0;
}
.wp-site-blocks .site-header-inner {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 90px;
  max-width: 1140px;
  margin: auto;
}
.wp-site-blocks .site-header-graphic {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
  max-width: none;
}
.wp-site-blocks .site-header-graphic svg {
  width: 100%;
  height: auto;
}