p,
ul,
ol,
li,
blockquote {
  font-size: 18px;
  line-height: 25px;
}

html {
  background-color: #ff9954;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #000000;
}

main {
  padding: 0 !important;
}

.site-logo a {
  display: block;
}
.site-logo svg {
  height: auto;
  width: 80%;
}
@media (min-width: 375px) {
  .site-logo svg {
    width: 320px;
  }
}
@media (min-width: 414px) {
  .site-logo svg {
    width: 340px;
  }
}
@media (min-width: 768px) {
  .site-logo svg {
    width: 420px;
  }
}
@media (min-width: 1024px) {
  .site-logo svg {
    width: 620px;
  }
}

.wp-site-blocks .site-header-outer {
  position: relative;
  display: block;
  height: 54vw;
  background-color: #ff9954;
  padding: 0;
}
.wp-site-blocks .site-header-inner {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 10px;
  max-width: 1140px;
  margin: auto;
}
@media (min-width: 768px) {
  .wp-site-blocks .site-header-inner {
    padding-top: 40px;
  }
}
@media (min-width: 1024px) {
  .wp-site-blocks .site-header-inner {
    padding-top: 90px;
  }
}
.wp-site-blocks .site-header-graphic {
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
  max-width: 1920px;
}
.wp-site-blocks .site-header-graphic svg {
  width: 100%;
  height: auto;
}
.wp-site-blocks .site-header-graphic__mobile {
  display: block;
}
@media (min-width: 375px) {
  .wp-site-blocks .site-header-graphic__mobile {
    display: none;
  }
}
.wp-site-blocks .site-header-graphic__desktop {
  display: none;
}
@media (min-width: 375px) {
  .wp-site-blocks .site-header-graphic__desktop {
    display: block;
  }
}

.wp-block-template-part {
  position: relative !important;
  width: 100% !important;
  max-width: 100% !important;
  z-index: 1 !important;
}

blockquote {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../fonts/PPNeueMontreal-Bold.woff2") format("woff2"), url("../fonts/PPNeueMontreal-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal Book";
  src: url("../fonts/PPNeueMontreal-Book.woff2") format("woff2"), url("../fonts/PPNeueMontreal-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("../fonts/PPNeueMontreal-Italic.woff2") format("woff2"), url("../fonts/PPNeueMontreal-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("../fonts/PPNeueMontreal-Medium.woff2") format("woff2"), url("../fonts/PPNeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("../fonts/PPNeueMontreal-Thin.woff2") format("woff2"), url("../fonts/PPNeueMontreal-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("../fonts/PPNeueMontreal-SemiBolditalic.woff2") format("woff2"), url("../fonts/PPNeueMontreal-SemiBolditalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
html,
body {
  font-family: "PP Neue Montreal";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PP Neue Montreal";
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
}

h1,
h2 {
  font-size: 32px;
}
@media (min-width: 768px) {
  h1,
  h2 {
    font-size: 64px;
  }
}

p,
ul,
ol,
li,
blockquote {
  color: #ffffff;
}

p {
  margin-top: 0;
}

b,
strong,
cite {
  font-weight: 800;
}

cite {
  font-style: normal;
}

.wp-block-heading {
  font-size: 24px;
  line-height: 33px;
}

input,
textarea {
  font-family: "PP Neue Montreal";
  color: #000000;
  font-weight: 500;
}