@use 'variables' as *;

html {
  background-color: brand-color('primary');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: brand-color('black');
}

main {
  padding: 0 !important;
}

// Components
.wp-site-blocks {
  .site-header-outer {
    position: relative;
    display: block;
    height: 840px;
    background-color: brand-color('primary');
    padding: 0;
  }

  .site-header-inner {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 90px;
    max-width: $max-component-width;
    margin: auto;
  }

  .site-header-graphic {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
    max-width: none;

    svg {
      width: 100%;
      height: auto;
    }
  }
}

.wp-block-template-part {
  position: relative !important;
  width: 100% !important;
  max-width: 100% !important;
  z-index: 1 !important;
}

blockquote {
  padding: 0;
  margin: 0;
}
