@use 'variables' as *;
@use './fonts';

html,
body {
  font-family: $font-family-sans;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans;
  color: brand-color('white');
  text-transform: uppercase;
  font-weight: 800;
}

h1,
h2 {
  font-size: 64px;
}

p,
ul,
ol,
li,
blockquote {
  color: brand-color('white');
  @extend %font-base;
}

p {
  margin-top: 0;
}

b,
strong,
cite {
  font-weight: 800;
}

cite {
  font-style: normal;
}

.wp-block-heading {
  font-size: 24px;
  line-height: 33px;
}
