.section-content {
  position: relative !important;
  width: 100% !important;
  max-width: 100% !important;
  z-index: 1 !important;

  > * {
    position: relative;
    z-index: 1;
  }

  &::after {
    display: none;
  }
}

.staff-list {
}
