.tagline {
    font-size: 2rem;
    display: flex;
    gap: 8px;
}

.scroll-container {
    display: inline-block;
    height: 2.2rem;
    overflow: hidden;
    position: relative;
}

.words {
    display: flex;
    flex-direction: column;
    animation: scroll 4s infinite linear;
}

.word {
    line-height: 2.2rem;
}

@keyframes scroll {
    0% { transform: translateY(0); }
    100% { transform: translateY(calc(-100% + 2.2rem)); }
}